<!DOCTYPE html>
<html lang="en">
<head>

    <title>LexStatus</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/all.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/css/tooplate-ben-resume-style.css">
    <!--
    Tooplate 2120 Ben Resume
    https://www.tooplate.com/view/2120-ben-resume
    -->
</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

<!-- MENU BAR -->
<nav class="navbar navbar-expand-lg">
    <div class="container">

        <a class="navbar-brand" href="#">
            LexStatus
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a href="#intro" class="nav-link smoothScroll">Главная</a>
                </li>

                <li class="nav-item">
                    <a href="#about" class="nav-link smoothScroll">Наши услуги</a>
                </li>

                <li class="nav-item">
                    <a href="#testimonials" class="nav-link smoothScroll">Наши преимущества</a>
                </li>

                <li class="nav-item">
                    <a href="#contact" class="nav-link smoothScroll">Наши контакты</a>
                </li>
            </ul>


        </div>

    </div>
</nav>


<!-- HERO -->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="intro">

    <div class="container">
        <div class="row">

            <div class="mx-auto col-lg-5 col-md-5 col-10">
                <img src="/static/images/ben.jpg" class="img-fluid" alt="Ben Resume HTML Template">
            </div>

            <div class="d-flex flex-column justify-content-center align-items-center col-lg-7 col-md-7 col-12">
                <div class="hero-text">

                    <h1 class="hero-title">Экспертно-правовая компания LexStatus</h1>

                    <a href="#" class="email-link">
                        Регистрация
                        права собственности
                        на землю
                    </a>

                </div>
            </div>

        </div>
    </div>
</section>


<section class="about section-padding" id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-12">
                <h3 class="mb-4">Виды землеустроительных работ</h3>

                <p>


                <ul>
                    <li>изменение целевого назначения земли;</li>
                    <li>объединение земельных участков;</li>
                    <li>отвод земельного участка в собственность или аренду;</li>
                    <li>приватизация земли;</li>
                    <li>присвоение кадастрового номера;</li>
                    <li>вынос границ земельного участка в натуру (на местности);</li>
                    <li>раздел земельных участков;</li>
                    <li>права собственности в случае передачи по наследству, купли-продажи, дарения.</li>
                </ul>
                </p>


            </div>

            <div class="col-lg-5 mx-auto col-md-6 col-12">
                <img src="/static/images/true-agency.jpg" class="about-image img-fluid"
                     alt="Ben's Resume HTML Template">
            </div>

        </div>

        <div class="col-lg-12  col-md-6">
                    <h2>Как оформить собственность на землю в 2019 году?</h2>
                </div>

        <div class="row about-third">
            <div class="col-lg-4 col-md-4 col-12">
                <h3>Выбрать место регистрации</h3>
                <p>Регистрация прав осуществляется государственным регистратором или нотариусом. Обратитесь в ближайший удобный для вас Центр предоставления административных услуг. Адреса местных ЦПАУ можно найти на сайте land.gov.ua.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <h3>Предоставить документы</h3>
                <p><ul>
                <li>Паспорт</li>
                <li>ИНН</li>
                <li>Выписка из ГЗК</li>
                <li>Квитанция об уплате административного сбора</li>
                <li>Документ-основание права собственности</li>
            </ul></p>
            </div>

            <div class="col-lg-4 col-md-4 col-12">
                <h3>Получить решения</h3>
                <p>По истечении 5 дневного срока, можно обращаться к госрегистратору за решением и свидетельством о праве собственности на землю. Решение размещается на сайте Минюста и имеет полную юридическую силу, без строгой необходимости воспроизводить свидетельство о регистрации на бумаге.</p>
            </div>
        </div>
    </div>
</section>


<!-- TESTIMONIAL -->
<section class="testimonials section-padding" id="testimonials">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <h3 class="mb-5 text-center">Наши преимущества</h3>

                <div class="owl-carousel owl-theme" id="testimonials-carousel">
                    <div class="item">
                        <div class="testimonials-thumb d-flex">
                            <div class="testimonials-image">
                                <img src="/static/images/testimonials/testimonial-image01.jpg" class="img-fluid"
                                     alt="testimonials image">
                            </div>

                            <div class="testimonials-info">
                                <p>Работаем
по всей Украине</p>


                                <span>Офисы LexStatus работают в каждом областном центре Украины, а наши эксперты приедут к вам в любой населенный пункт страны.</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimonials-thumb d-flex">
                            <div class="testimonials-image">
                                <img src="/static/images/testimonials/testimonial-image02.jpg" class="img-fluid"
                                     alt="testimonials image">
                            </div>

                            <div class="testimonials-info">
                                <p>Знаем
про документы на землю все</p>


                                <span>В 2017 году эксперты LexStatus оформили кадастровые номера, справки из ГЗК и документы о праве собственности на землю для 354 земельных участков.</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimonials-thumb d-flex">
                            <div class="testimonials-image">
                                <img src="/static/images/testimonials/testimonial-image03.jpg" class="img-fluid"
                                     alt="testimonials image">
                            </div>

                            <div class="testimonials-info">
                                <p>Подтвердили
статус лидера</p>


                                <span>По результатам комплексной оценки Национального Бизнес - рейтинга, экспертно-правовая компания LexStatus получила Золотой статус «Лидер года 2017»</span>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</section>


<!-- FAQ -->
<section class="faq section-padding">

    <div class="container">

        <div class="row">

            <div class="col-lg-12 col-12">

                <h3 class="mb-5">Популярные вопросы</h3>

                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Что входит в землеустроительные работы?
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Присвоение кадастрового номера, разделение или объединение земельных участков, установление границ участков, оформление права собственности на землю при купле-продаже / передаче в наследство/ дарении, приватизация земельного участка, изменение целевого назначения</p>


                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Кто выполняет землеустроительные работы?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Землеустроительные работы проводит организация, которая имеет лицензию на проведение данных работ</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Какие документы важно проверять перед началом землеустроительных работ?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Если вы планируете провести землеустроительные работы, нужно изучить копии генерального плана. Также уточняется возможность изменения целевого назначения земли.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Если нет кадастрового номера. можно ли проводить землеустроительные работы?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Участок земли должен быть приватизирован и иметь кадастровый номер. Наши специалисты помогут в этом, и вы быстро получите документы.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Предоставляете ли вы услуги в области и пригороде?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Мы предоставляем услуги на землеустроительные работы в Киеве и Киевской области: Васильковский район, Киево-святошинский район, Обуховский район, Макаровський район.</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</section>


<section class="contact section-padding pt-0" id="contact">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-12">
                <form action="#" method="get" class="contact-form webform" role="form">

                    <div class="form-group d-flex flex-column-reverse">
                        <input type="text" class="form-control" name="cf-name" id="cf-name" placeholder="Your Name">

                        <label for="cf-name" class="webform-label">Full Name</label>
                    </div>

                    <div class="form-group d-flex flex-column-reverse">
                        <input type="email" class="form-control" name="cf-email" id="cf-email" placeholder="Your Email">

                        <label for="cf-email" class="webform-label">Your Email</label>
                    </div>

                    <div class="form-group d-flex flex-column-reverse">
                        <textarea class="form-control" rows="5" name="cf-message" id="cf-message"
                                  placeholder="Your Message"></textarea>

                        <label for="cf-message" class="webform-label">Message</label>
                    </div>

                    <button type="submit" class="form-control" id="submit-button" name="submit">Send</button>
                </form>
            </div>

            <div class="mx-auto col-lg-4 col-md-6 col-12">
                <h3 class="my-4 pt-4 pt-lg-0">Say hello</h3>

                <p class="mb-1">010-020-0340</p>

                <p>
                    <a href="#">
                        hello@company.co
                        <i class="fas fa-arrow-right custom-icon"></i>
                    </a>
                </p>

                <ul class="social-links mt-2">
                    <li><a href="https://fb.com/tooplate" rel="noopener" class="fab fa-facebook"></a></li>
                    <li><a href="#" rel="noopener" class="fab fa-twitter"></a></li>
                    <li><a href="#" rel="noopener" class="fab fa-instagram"></a></li>
                    <li><a href="#" rel="noopener" class="fab fa-linkedin"></a></li>
                    <li><a href="#" rel="noopener" class="fab fa-youtube"></a></li>
                </ul>

                <p class="copyright-text mt-5 pt-3">Copyright &copy; 2020 Ben Resume Page</p>

                <p>Design: <a href="https://www.tooplate.com" title="free HTML templates" target="_blank">Tooplate</a>
                </p>
            </div>

        </div>
    </div>
</section>
<!-- SCRIPTS -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/smoothscroll.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/custom.js"></script>

</body>
</html>